@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.footer--link {
    position: relative;
    align-content: center;
    & p {
        margin: auto 0 0.18rem auto;
    }
    & a::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
      }
      a {
        vertical-align: top;
      }
    &:hover span {
        border-color: var(--bg-color);
    }
    &:hover {
        /* color: white;
        & svg {
            fill: white;
        } */
        & p:after {
            content:'↗︎';
            padding-left: 0.25rem;
            margin: auto 0 0.18rem auto;
            transform: translateX(2px);
        }
    }
}

.contact {
    & :last-child {
        border-radius: 0 0 0.75rem 0.75rem;
    }
}

.cursor {
    animation: 300ms linear 300ms infinite alternate blink;
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: inherit;
    }
}