---
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import site from '../data/site.json';
---

<html lang="en">
	<Head title={ site.title }>
	</Head>
	<body>
		<h1>{ site.title }</h1>
		<ul>
			<li><a href={ site.author.linkedin }>LinkedIn</a></li>
		</ul>
	</body>
	<Footer>
	</Footer>
</html>
